  *{
    font-family: 'Kanit', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.popup-container{
    width: 260px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px 10px 15px;
    padding-bottom: 5px;
}

.html-container {
    flex-direction: column;
    justify-content: center;
    background-color: #39373c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.18' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");   
}

.pop-title{
    color: white;
    text-align: center;
    font-size: 20px;
}

#convertButton {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 35px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
}

#convertButton {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#convertButton:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}

#convertButton:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}

.btn-txt{
    font-size: px;
}

#display-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.display-text{
   color: white;
   font-size: 15px;
}

.label-text{
    color:white;
    text-align: center;

}

.display-text-error {
    color: #f72a3f;
    animation: shake 0.3s ;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-15px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(15px);
    }
  }

#plugin {
  color: white;
  font-size: 10px;
  text-decoration: none;
}

.tail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 5px 5px 5px;
}